<div class="header colorized" role="banner">

    <div class="nav grid right">
        <div id="nav" role="navigation" tabindex="-1">
            <ul>
                <a href="$home">Hem</a> |
                <a href="report">Report</a> |
                <a href="about">Om</a>
            </ul>
        </div>
    </div>
</div>
