{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}
<div class="textHandle">
    <fieldset>
        <legend>Functions</legend>
        Welcome to a small library!<br>
        Click on on of the links below to proceed.<br>
        <ul>
            <li><a href="{{ url("register_book_form") }}">Register book</a></li>
            <li><a href="{{ url("books_show_all") }}">Show existing books</a></li>
        </ul>
    </fieldset>
</div>
{% endblock %}
