{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block content %}
<div class="textHandle">
    <fieldset>
        <legend>The entire deck</legend>
        {% for card in deck %}
            <div class="card {{ card.getColor() }}">
                {{ card.getValue() }}
                <span class="symbol">
                    {{ card.getSuite()|raw }}
                </span>
            </div>
        {% endfor %}
    </fieldset>
</div>
{% endblock %}