{% include 'incl/header.twig' %}

<body>

vafan?
<div class="grid wrapper">
    {% include 'incl/nav.twig' %}
    <div class="main">
        Hem, här är hemmet, behöver bild också...<br>
        <img src="../public/img/notReallyMe.png" alt="Img done did gone?"/>
    </div>

    <br>

    {% include 'incl/footer.twig' %}
</div>
</body>