{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="textHandle">
    <h1>Metrics</h1>
    <h2>Introduktion</h2>
    <p>

    </p>
</div>
    <a href="https://github.com/dbwebb-se/mvc/" target="_blank"><img src="img/leaf_256x256.png" width="300px" alt="php"/></a>
{% endblock %}