{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="textHandle">
    <h1>Metrics</h1>
    <h2>Introduktion</h2>
    <p>
        De fyra C:na:
        <ul>
            <li>Coverage</li>
                Detta handlar om att man ska ha testt채ckning av sin kod. I en perfekt v채rld 채r all kod t채ckt av tester.
                
            <li>Complexity</li>
            <li>Cohesion</li>
            <li>Coupling</li>
        </ul>

    </p>
</div>
{% endblock %}