{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}
    <div class="textHandle">
        {% apply markdown_to_html %}
            {{ contentFromMarkdownFile }}
        {% endapply %}
    </div>
{% endblock %}