{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="textHandle">
    <h1>About my project</h1>
    <p>
        Text about the project TODO
    </p>
    <h3><a href="{{ url("docs_metrics") }}" target="_blank">Metrics</a></h3>
    <h3><a href="{{ url("docs_phpdoc") }}" target="_blank">PhpDoc</a></h3>
    <h3><a href="{{ url("docs_phpunit") }}" target="_blank">PhpUnit</a></h3>
    <h3><a href="https://github.com/celgit/dbwebb-mvc" target="_blank">Github</a></h3>
</div>
{% endblock %}