{% extends 'base_project.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block content %}
<div>
    <h3><a href="{{ path("proj_about") }}">About this project</a></h3>
    <h3><a href="{{ path("tires_show_all") }}">Show all tires</a></h3>
</div>
{% endblock %}
