{% extends "base.html.twig" %}

{% block title %}Project{% endblock %}

{% block content %}
<div class="textHandle">
    <h1>Projektsidan</h1>
        <h3><a href="{{ path("proj_about") }}">About this project</a></h3>
    <p>
        teeexten
    </p>
</div>
{% endblock %}