{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="textHandle">
    <h1>About my project</h1>
    <p>
        Här kommer texten
    </p>
</div>
{% endblock %}